.kk-bold {
  font-weight: 600;
  /* background-color: rgb(243, 180, 117); */
  color: rgb(240, 19, 19);
  display: inline-block;
  font-size: 20px;
  /* border-radius: 3px; */
  /* padding: 4px; */
}
.button {
  /* font-size: 100px; */
  /* width: 60px; */
  text-align: right;
  float: right;
}
